@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}

input[type="number"]:focus ~ span.input-text,
input[type="text"]:focus ~ span.input-text,
input[type="password"]:focus ~ span.input-text {
	@apply text-[#017DC3] bg-white transform -translate-y-5 -translate-x-4 scale-75 mx-5;
}

.te-select {
	background-color: red;
	display: none; /* Change to your desired background color */
}

/* Change the color of the select options */
.te-select__option {
	color: #333; /* Change to your desired text color */
}

.input-contains {
	@apply bg-white transform -translate-y-6 mt-[2px] -translate-x-4 scale-75 mx-5;
}

.disabled-label {
	@apply bg-opacity-20 text-black text-opacity-75;
}

.inputs input[type="text"]:not(:placeholder-shown) {
	@apply bg-white transform -translate-y-6 mt-[2px] -translate-x-4 scale-75 mx-5;
}
